.news_main {
  flex: 1;
}
.news_main.dark__theme .top-stories {
  background: #0d0d0d;
  border: 1px solid #1f1f1f;
  box-shadow: 0px 0px 3px 1px rgba(16, 16, 16, 0.7490196078);
}
.news_main.dark__theme .top-stories .title {
  color: #fff;
}
.news_main.dark__theme .top-stories .top-stories-list .top ._0_news__first_news .news__card .__news_title > a {
  color: #fff;
}
.news_main.dark__theme .top-stories .top-stories-list .top ._news__next ._news_card ._news ._news_provider ._provider_name {
  color: #f4f2f2;
}
.news_main.dark__theme .top-stories .top-stories-list .top ._news__next ._news_card ._news ._news_title > a {
  color: #fff;
}
.news_main.dark__theme .top-stories .top-stories-list .other .more_news_card ._news ._news_provider ._provider_name {
  color: #f4f2f2;
}
.news_main.dark__theme .top-stories .top-stories-list .other .more_news_card ._news ._news_title > a {
  color: #fff;
}
.news_main.dark__theme ._news_list {
  background: #0d0d0d;
  box-shadow: unset;
}
.news_main.dark__theme ._news_list .topic-title {
  color: #fff;
}
.news_main.dark__theme ._news_list ._topic_results .news_card ._news_provider {
  color: #f4f2f2;
}
.news_main.dark__theme ._news_list ._topic_results .news_card .__news_content .__news_title > a {
  color: #fff;
}
.news_main .top-stories {
  margin-top: 1rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  box-shadow: 0px 0px 3px 1px rgba(207, 207, 207, 0.7490196078);
  background: #fff;
  padding: 1rem 2rem;
  border-radius: 5px;
}
.news_main .top-stories .title {
  color: #6423f0;
  font-weight: bold;
  border-bottom: 1px solid #aaa;
  padding-bottom: 1rem;
  cursor: default;
}
.news_main .top-stories .top-stories-list {
  gap: 1.5rem;
  margin-top: 1rem;
}
.news_main .top-stories .top-stories-list .top {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.news_main .top-stories .top-stories-list .top ._0_news__first_news .news__card {
  overflow: hidden;
}
.news_main .top-stories .top-stories-list .top ._0_news__first_news .news__card .__thumb > img {
  max-width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 5px;
}
.news_main .top-stories .top-stories-list .top ._0_news__first_news .news__card .__news_provider {
  display: flex;
  margin: 0.5rem 0;
}
.news_main .top-stories .top-stories-list .top ._0_news__first_news .news__card .__news_provider .__provider_name {
  font-size: 0.8rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #757575;
  font-weight: bold;
}
.news_main .top-stories .top-stories-list .top ._0_news__first_news .news__card .__news_title > a {
  color: #000;
  font-weight: 600;
  font-size: 1.2rem;
}
.news_main .top-stories .top-stories-list .top ._0_news__first_news .news__card .__news_title > a:hover {
  text-decoration: underline;
}
.news_main .top-stories .top-stories-list .top ._0_news__first_news .news__card .__posted_on {
  font-size: 0.8rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #757575;
  margin-top: 0.7rem;
}
.news_main .top-stories .top-stories-list .top ._news__next ._news_card ._news {
  margin-bottom: 0.5rem;
}
.news_main .top-stories .top-stories-list .top ._news__next ._news_card ._news ._news_provider {
  display: flex;
  align-items: center;
  margin-bottom: 0.7rem;
}
.news_main .top-stories .top-stories-list .top ._news__next ._news_card ._news ._news_provider ._provider_name {
  font-size: 0.8rem;
  color: #000;
  font-weight: bold;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.news_main .top-stories .top-stories-list .top ._news__next ._news_card ._news ._news_title > a {
  color: #000;
  font-size: 0.9rem;
}
.news_main .top-stories .top-stories-list .top ._news__next ._news_card ._news ._news_title > a:hover {
  text-decoration: underline;
}
.news_main .top-stories .top-stories-list .top ._news__next ._news_card ._news ._posted_on {
  color: #757575;
  margin-top: 0.7rem;
  font-size: 0.8rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.news_main .top-stories .top-stories-list .other {
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 1px solid #757575;
}
.news_main .top-stories .top-stories-list .other .more_news_card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  grid-column: 1;
}
.news_main .top-stories .top-stories-list .other .more_news_card ._news .__thumb > img {
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 5px;
}
.news_main .top-stories .top-stories-list .other .more_news_card ._news ._news_provider {
  display: flex;
  align-items: center;
  margin: 0.7rem 0;
}
.news_main .top-stories .top-stories-list .other .more_news_card ._news ._news_provider ._provider_name {
  font-size: 0.8rem;
  color: #000;
  font-weight: bold;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.news_main .top-stories .top-stories-list .other .more_news_card ._news ._news_title > a {
  color: #000;
  font-size: 0.9rem;
}
.news_main .top-stories .top-stories-list .other .more_news_card ._news ._news_title > a:hover {
  text-decoration: underline;
}
.news_main .top-stories .top-stories-list .other .more_news_card ._news ._posted_on {
  color: #757575;
  margin-top: 0.7rem;
  font-size: 0.8rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.news_main ._news_list {
  margin-top: 1rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  box-shadow: 0px 0px 3px 1px rgba(207, 207, 207, 0.75);
  background: #fff;
  padding: 1rem 2rem;
  border-radius: 5px;
}
.news_main ._news_list .topic-title {
  font-size: 1.2rem;
  font-weight: bold;
  border-bottom: 1px solid #aaa;
  padding-bottom: 1rem;
  cursor: default;
}
.news_main ._news_list ._topic_results {
  margin-top: 1rem;
}
.news_main ._news_list ._topic_results .news_card {
  margin: 1rem;
  width: 100%;
  border-bottom: 1px solid #aaa;
  padding-bottom: 1rem;
}
.news_main ._news_list ._topic_results .news_card:first-child {
  margin-top: 0;
}
.news_main ._news_list ._topic_results .news_card ._news_provider {
  display: flex;
  align-items: center;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.news_main ._news_list ._topic_results .news_card .__news_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6rem;
}
.news_main ._news_list ._topic_results .news_card .__news_content .__news_title > a {
  color: #000;
}
.news_main ._news_list ._topic_results .news_card .__news_content .__news_title > a:hover {
  text-decoration: underline;
}
.news_main ._news_list ._topic_results .news_card .__news_content .__news_thumb {
  margin-left: 1rem;
}
.news_main ._news_list ._topic_results .news_card .__news_content .__news_thumb img {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.news_main ._news_list ._topic_results .news_card ._posted_on {
  font-size: 0.9rem;
  color: #aaa;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}