.pop_up_notification_container {
  position: fixed;
  bottom: 3%;
  left: 3%;
}
.pop_up_notification_container ._notification {
  width: auto;
  height: auto;
  color: #fff;
  background: #1f1f1f;
  padding: 0.5rem 0.8rem;
  border-radius: 5px;
  font-size: 0.9em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100vw);
  transition: all 0.25s;
  margin-bottom: 1rem;
}
.pop_up_notification_container ._notification.show {
  transform: translateX(0);
}